@import "./_reset";

@media (min-width: 1280px){
    .media_menu{
        display: none;
    }
}

header {
    width: 100%;
    @include fl(space-between, flex-start);
    margin: 0 auto;
    position: fixed;
    left: 0%;
    top: 0;
    z-index: 20;
    transition: 0.5s;
  
    .hdbg {
      width: 100%;
      @include fl(center, flex-start);
      transition: 0.5s;
      .head {
        width: 1280px;
        @include fl(space-between, flex-start);
  
        .head_logo {
          width: 20%;
          padding-top: 30px;
  
          a {
            img {
              width: 200px;
            }
          }
        }
  
        .menu_wrap {
          margin: 0;
          width: 100%;
          height: 100%;
          @include fl(center, stretch);
  
          > li {
            width: 20%;
            text-align: center;
            padding: 40px 0px 20px;
  
            a {
              @include fon("Noto Sans KR", 500, 1.1em);
              color: #1c1c1b;
            }
  
            > a::after {
              content: "";
              display: block;
              border-bottom: 1px solid black;
              padding-top: 20px;
              width: 0px;
              margin: 0 auto;
            }
  
            div {
              // padding-top: 20px;
              margin-top: 0;
              padding-bottom: 20px;
              margin-bottom: 0;
              display: none;
  
              ul {
                @include fon("Noto Sans KR", 400, 0.9em);
                margin-top: 10%;
  
                li {
                  width: 100%;
                  padding: 2% 0% 2%;
                }
  
                li:nth-of-type(1) {
                  margin-top: 5%;
                }
              }
            }
          }
  
          li:hover > a::after {
            width: 25%;
            left: 0%;
            transition: 0.2s;
          }
        }
  
        .menu_wrap {
          div {
            display: block;
          }
        }
  
        li:hover {
          background-color: #fdd000;
        }
  
        .sns {
          width: 20%;
          padding-top: 30px;
          display: flex;
  
          nav {
            width: 100%;
            display: flex;
  
            a {
              width: 100%;
              border: 2px solid black;
              border-radius: 100%;
              padding: 7px;
              margin: 5px;
  
              @include fl(center, flex-start) {
              }
            }
  
            a:hover {
              background-color: #fdd000;
              border-color: #fdd000;
            }
          }
  
          .burger_bg {
            display: none;
          }
        }
      }
    }
  
    .wrap {
      position: fixed;
      right: 30px;
      top: 30%;
      z-index: 10;
  
      li {
        width: 110px;
        height: 110px;
  
        @include fl(center, center) {
        }
  
        border: 2px solid black;
        background-color: black;
        border-radius: 100%;
        text-align: center;
        margin-top: 10px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  
        div {
          a {
            color: white;
  
            p {
              margin: 0px;
              @include fon("Noto Sans KR", 500, 14px);
            }
  
            b {
              font-family: "Roboto", sans-serif;
              font-size: 20px;
            }
          }
        }
      }
  
      li:hover {
        background-color: #fdd000;
        border-color: #fdd000;
  
        a {
          color: #1c1c1b;
        }
      }
    }
  }
  
  header.active {
    width: 100%;
    @include fl(space-between, flex-start);
    margin: 0 auto;
    position: fixed;
    left: 0%;
    top: 0;
    z-index: 10;
    transition: 0.5s;
  
    .hdbg {
      background-color: #ffffff;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
      width: 100%;
      @include fl(center, flex-start);
  
      .head {
        width: 1280px;
        @include fl(space-between, flex-start);
  
        .head_logo {
          width: 20%;
          padding-top: 30px;
  
          a {
            img {
              width: 200px;
            }
          }
        }
  
        .menu_wrap {
          margin: 0;
          width: 100%;
          height: 100%;
          @include fl(center, stretch);
  
          > li {
            width: 20%;
            text-align: center;
            padding: 40px 0px 20px;
  
            a {
              @include fon("Noto Sans KR", 500, 1.1em);
              color: #1c1c1b;
            }
  
            > a::after {
              content: "";
              display: block;
              border-bottom: 1px solid black;
              padding-top: 20px;
              width: 0px;
              margin: 0 auto;
            }
  
            div {
              padding-top: 20px;
              margin-top: 0;
              padding-bottom: 20px;
              margin-bottom: 0;
              display: none;
  
              ul {
                @include fon("Noto Sans KR", 400, 0.9em);
                margin-top: 10%;
  
                li {
                  width: 100%;
                  padding: 2% 0% 2%;
                }
  
                li:nth-of-type(1) {
                  margin-top: 5%;
                }
              }
            }
          }
  
          li:hover > a::after {
            width: 25%;
            left: 0%;
            transition: 0.2s;
          }
        }
  
        .menu_wrap {
          div {
            display: block;
          }
        }
  
        li:hover {
          background-color: #fdd000;
        }
  
        .sns {
          width: 20%;
          padding-top: 30px;
          display: flex;
  
          nav {
            width: 100%;
            display: flex;
  
            a {
              width: 100%;
              border: 2px solid black;
              border-radius: 100%;
              padding: 7px;
              margin: 5px;
  
              @include fl(center, flex-start) {
              }
            }
  
            a:hover {
              background-color: #fdd000;
              border-color: #fdd000;
            }
          }
  
          .burger_bg {
            display: none;
          }
        }
      }
    }
  
    .wrap {
      position: fixed;
      right: 30px;
      top: 30%;
  
      li {
        width: 110px;
        height: 110px;
  
        @include fl(center, center) {
        }
  
        border: 2px solid black;
        background-color: black;
        border-radius: 100%;
        text-align: center;
        margin-top: 10px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  
        div {
          h2 {
            color: white;
  
            p {
              margin: 0px;
              @include fon("Noto Sans KR", 500, 14px);
            }
  
            b {
              font-family: "Roboto", sans-serif;
              font-size: 20px;
            }
          }
        }
      }
  
      li:hover {
        background-color: #fdd000;
        border-color: #fdd000;
  
        a {
          color: #1c1c1b;
        }
      }
    }
  }


@media (max-width: 1280px){
    header {
        width: 100%;
        @include fl(space-between, flex-start);
        margin: 0 auto;
        position: fixed;
        left: 0%;
        top: 0;
        z-index: 10;
    
        .hdbg {
          width: 100%;
          @include fl(center, flex-start);
    
          .head {
            width: 100%;
            @include fl(space-between, flex-start);
            padding: 0px 3%;
    
            .head_logo {
              width: 30%;
              padding-top: 30px;
    
              a {
                img {
                  width: 200px;
                }
              }
            }
    
            .menu_wrap {
              margin: 0;
              width: 100%;
              height: 100%;
              @include fl(center, stretch);
              display: none;
    
              > li {
                width: 20%;
                text-align: center;
                padding: 40px 0;
    
                a {
                  @include fon("Noto Sans KR", 500, 1.1em);
                  color: #1c1c1b;
                }
    
                > a::after {
                  content: "";
                  display: block;
                  border-bottom: 1px solid black;
                  padding-top: 20px;
                  width: 0px;
                  margin: 0 auto;
                }
    
                div {
                  padding-top: 20px;
                  margin-top: 0;
                  padding-bottom: 20px;
                  margin-bottom: 0;
    
                  ul {
                    @include fon("Noto Sans KR", 400, 0.9em);
                    margin-top: 10%;
    
                    li {
                      width: 100%;
                      padding: 2% 0% 2%;
                    }
    
                    li:nth-of-type(1) {
                      margin-top: 5%;
                    }
                  }
                }
              }
    
              li:hover > a::after {
                width: 25%;
                left: 0%;
                transition: 0.2s;
              }
            }
    
            li:hover {
              background-color: #fdd000;
            }
    
            .sns {
              width: 30%;
              padding-top: 25px;
              display: flex;
    
              nav {
                width: 85%;
                display: flex;
                justify-content: flex-end;
    
                a {
                  width: 50px;
                  border: 2px solid black;
                  border-radius: 100%;
                  padding: 5px;
                  margin: 10px;
    
                  @include fl(center, flex-start) {
                  }
                }
    
                a:hover {
                  background-color: #fdd000;
                  border-color: #fdd000;
                }
              }
    
              .burger_bg {
                position: absolute;
                left: 88%;
                top: 53%;
                z-index: 10;
                display: block;
                display: flex;
                align-items: center;
                width: 15%;
                justify-content: center;
                .line {
                  margin-top: 0px;
                  width: 25px;
                  height: 15px;
                  position: relative;
                  span {
                    width: 100%;
                    border: 1px solid black;
                    position: absolute;
                    left: 0;
                    transition: 0.5s;
                  }
                  span:nth-child(1) {
                    top: 0;
                  }
                  span:nth-child(2) {
                    top: calc(50% - 1px);
                  }
                  span:nth-child(3) {
                    top: calc(100% - 2px);
                  }
                }
              }
              .burger_bg.burger_active {
                .line {
                  span {
                    top: calc(50% - 1px);
                    border: 1px solid white;
                  }
                  span:nth-child(1) {
                    transform: rotate(45deg);
                  }
                  span:nth-child(2) {
                    opacity: 0;
                  }
                  span:nth-child(3) {
                    transform: rotate(-45deg);
                  }
                }
              }
              
            }
          }
        }
    
        .wrap {
          position: fixed;
          right: 30px;
          top: 30%;
          display: none;
    
          li {
            width: 110px;
            height: 110px;
    
            @include fl(center, center) {
            }
    
            border: 2px solid black;
            background-color: black;
            border-radius: 100%;
            text-align: center;
            margin-top: 10px;
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    
            div {
              a {
                color: white;
    
                p {
                  margin: 0px;
                  @include fon("Noto Sans KR", 500, 14px);
                }
    
                b {
                  font-family: "Roboto", sans-serif;
                  font-size: 20px;
                }
              }
            }
          }
    
          li:hover {
            background-color: #fdd000;
            border-color: #fdd000;
    
            a {
              color: #1c1c1b;
            }
          }
        }
    
        .media_menu {
          transform: translateX(100%);
          transition: 1s;
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
          height: 100vh;
          background-color: #212121;
          color: #fdd000;
          display: flex;
          flex-direction: column;
          figure {
            margin: 5% auto;
    
            img {
              width: 100%;
              max-width: 200px;
            }
          }
          .media_menu_wrap {
            display: flex;
            flex-direction: column;
            margin: 7%;
            li {
              width: 100%;
              display: flex;
              margin-bottom: 8%;
              h2 {
                width: 20%;
                padding-right: 5%;
                color: #fff;
                @include fon("Noto Sans KR", 400, 1.1rem);
                margin-top: 0;
              }
              div {
                width: 80%;
                ul {
                  width: 100%;
                  li {
                    margin-bottom: 1%;
                    a{  color: #a9a9a9;
                        @include fon("Noto Sans KR", 400, 0.9rem);}
                  }
                }
              }
            }
            hr {
              width: 100%;
              height: 0.3px;
              margin-bottom: 3%;
              border: 0px;
              border-bottom: 0.7px solid #5d5d5d70;
            }
          }
        }
    
        .media_menu.menuactive{
        transform: translateX(0%)  
        }
      }  

}


@media (max-width: 760px) {
    header {
        width: 100%;
        @include fl(space-between, flex-start);
        margin: 0 auto;
        position: fixed;
        left: 0%;
        top: 0;
        z-index: 10;
    
        .hdbg {
          width: 100%;
          @include fl(center, flex-start);
    
          .head {
            width: 100%;
            @include fl(space-between, flex-start);
            padding: 0px 3%;
    
            .head_logo {
              width: 30%;
              padding-top: 10px;
    
              a {
                img {
                  width: 150px;
                }
              }
            }
    
            .menu_wrap {
              margin: 0;
              width: 100%;
              height: 100%;
              @include fl(center, stretch);
              display: none;
    
              > li {
                width: 20%;
                text-align: center;
                padding: 40px 0;
    
                a {
                  @include fon("Noto Sans KR", 500, 1.1em);
                  color: #1c1c1b;
                }
    
                > a::after {
                  content: "";
                  display: block;
                  border-bottom: 1px solid black;
                  padding-top: 20px;
                  width: 0px;
                  margin: 0 auto;
                }
    
                div {
                  padding-top: 20px;
                  margin-top: 0;
                  padding-bottom: 20px;
                  margin-bottom: 0;
    
                  ul {
                    @include fon("Noto Sans KR", 400, 0.9em);
                    margin-top: 10%;
    
                    li {
                      width: 100%;
                      padding: 2% 0% 2%;
                    }
    
                    li:nth-of-type(1) {
                      margin-top: 5%;
                    }
                  }
                }
              }
    
              li:hover > a::after {
                width: 25%;
                left: 0%;
                transition: 0.2s;
              }
            }
    
            li:hover {
              background-color: #fdd000;
            }
    
            .sns {
              width: 30%;
              padding-top: 25px;
              display: flex;
              justify-content: flex-end;
    
              nav {
                width: 85%;
                display: none;
                justify-content: flex-end;
    
                a {
                  width: 50px;
                  border: 2px solid black;
                  border-radius: 100%;
                  padding: 5px;
                  margin: 10px;
    
                  @include fl(center, flex-start) {
                  }
                }
    
                a:hover {
                  background-color: #fdd000;
                  border-color: #fdd000;
                }
              }
    
              .burger_bg {
                position: absolute;
                left: 85%;
                z-index: 10;
                top: 50%;
                display: block;
                display: flex;
                align-items: center;
                width: 15%;
                justify-content: center;
                .line {
                  margin-top: 0px;
                  width: 25px;
                  height: 15px;
                  position: relative;
                  span {
                    width: 100%;
                    border: 1px solid black;
                    position: absolute;
                    left: 0;
                    transition: 0.5s;
                  }
                  span:nth-child(1) {
                    top: 0;
                  }
                  span:nth-child(2) {
                    top: calc(50% - 1px);
                  }
                  span:nth-child(3) {
                    top: calc(100% - 2px);
                  }
                }
              }
              .burger_bg.burger_active {
                .line{
                  span {
                    top: calc(50% - 1px);
                    border: 1px solid white;
                  }
                  span:nth-child(1) {
                    transform: translate rotate(45deg);
                  }
                  span:nth-child(2) {
                    opacity: 0;
                  }
                  span:nth-child(3) {
                    transform: translate rotate(-45deg);
                  }
                }
              }
            }
          }
        }
    
        .wrap {
          position: fixed;
          right: 30px;
          top: 30%;
          display: none;
    
          li {
            width: 110px;
            height: 110px;
    
            @include fl(center, center) {
            }
    
            border: 2px solid black;
            background-color: black;
            border-radius: 100%;
            text-align: center;
            margin-top: 10px;
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    
            div {
              a {
                color: white;
    
                p {
                  margin: 0px;
                  @include fon("Noto Sans KR", 500, 14px);
                }
    
                b {
                  font-family: "Roboto", sans-serif;
                  font-size: 20px;
                }
              }
            }
          }
    
          li:hover {
            background-color: #fdd000;
            border-color: #fdd000;
    
            a {
              color: #1c1c1b;
            }
          }
        }
    
        .media_menu {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            width: 240px;
            height: 100vh;
            background-color: #212121;
            color: #fdd000;
            display: flex;
            flex-direction: column;
            padding: 20px;
            figure {
              padding: 20% 0px 10%;
              margin: 0% auto;
      
              img {
                width: 100%;
                max-width: 190px;
              }
            }
            .media_menu_wrap {
              display: flex;
              flex-direction: column;
              margin: 7%;
              margin-top: 10%;
              
              li {
                width: 100%;
                display: flex;
                margin-bottom: 8%;
                flex-direction: column;
                
                h2 {
                  width: 100%;
                  padding-right: 5%;
                  color: #fff;
                  @include fon("Noto Sans KR", 400, 0.9rem);
                  position: relative;
                  
                }
                >h2::after{
                    position: absolute;
                    top: 0; right: 0;
                    content: 'chevron_right';
                    font-family: 'material symbols outlined';
                    display: inline-block;
                    width: 20px;
                    font-size: 20px;
                    vertical-align: middle;
    
                }
                div {
                    display: none;
                  width: 100%;
                  >ul {
                    width: 100%;
                    margin: 15%;
                    >li {
                      margin-bottom: 1%;
                      >a{  color: #a9a9a9;
                        margin-bottom: 5%;
                          @include fon("Noto Sans KR", 400, 0.75rem);}
                        a::after{
                            content: '';
                            display: none;
                        }
                    }
                  }
                }
              }
              li.active {
                >h2{ color:#fdd000;
                &::after{
                   
                    transform: rotate(90deg);
                    color: white;
                }    
                }
              }
         
              hr {
                display: none;
              }
            }
          }
      }
}