@import "./reset";
@import "./_header";


@media(max-width:1280px) {

  

    main {

        padding-top: 100px;

        .top {
            padding: 50px 0px;
            background-color: #3b3b3b;
            ;
            color: #fff;
            text-align: center;
            position: relative;

            h2 {
                @include fon('Noto Sans KR', 300, 1.5rem);
                ;
            }

            div {
                @include fon('Roboto', 900, 3em);
                color: #fdd000;
            }

            p {
                @include fon('Noto Sans KR', 300, 0.9rem);
                text-align: center;

                span {
                    display: inline-block;
                    vertical-align: middle;
                }
            }

        }


        .row {
            padding: 50px 0px;
            background-color: #fdd000;
            text-align: center;
            align-items: center;
            @include row;
            @include fon('Noto Sans KR', 600, 1.8em);

            p {
                @include fon('Noto Sans KR', 300, 0.9em);
                margin: 0px;
            }
        }

        .row::before {
            content: '';
            position: absolute;
            z-index: -1;
            width: 50px;
            height: 50px;
            background-color: #fdd000;
            border: 1px solid #fdd000;
            position: absolute;
            left: 50%;
            top: 22%;
            transform: translate(-50%, 180%) rotate(45deg);
            @include row0;
        }

        .midle {
            width: 100%;
            margin: 0 auto;
            padding: 60px;

            .menu_infobox {
                padding: 0px;
                width: 100%;
                margin: 0 auto;
                display: flex;
                align-items: center;
                margin-bottom: 10%;

                .left {
                    width: 55%;

                    .txt1 {
                        b {
                            @include fon('Noto Sans KR', 300, 1.3rem);
                        }

                        h2 {
                            @include fon('Noto Sans KR', 700, 3rem);
                            margin: 1.5% 0px;
                            margin-bottom: 5%
                        }

                        p {
                            @include fon('Noto Sans KR', 400, 1.2rem);
                            margin: 1.5% 0px;
                        }

                        padding-right: 10%;
                    }

                    .txt1::after {
                        content: '';
                        display: block;
                        border-bottom: 1px solid #e4e4e4;
                        width: 100%;
                    }

                    .txt2 {
                        p {
                            @include fon('Noto Sans KR', 300, 0.85rem);
                            color: #525252;
                        }
                    }
                }

                .rihgt {
                    width: 45%;

                    img {
                        max-width: 100%;
                    }
                }

            }

            .menu {
                width: 100%;

                .menu_txt {
                    display: block;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    b {
                        @include fon('Noto Sans KR', 300, 1.2rem);
                    }

                    h2 {
                        @include fon('Roboto', 900, 3em);
                        margin: 1%;
                    }

                    p {
                        @include fon('Noto Sans KR', 300, 0.8rem);
                        color: #aaa;
                    }
                }

                .menu_ul {
                    width: 100%;
                    margin: 0 auto;

                    .menu_img {
                        width: 100%;
                        display: flex;

                        //flex-wrap: wrap;
                        li {
                            width: 25%;
                            margin: 5px;
                            margin-bottom: 5%;
                            overflow: hidden;

                            figure {
                                position: relative;
                                width: 100%;
                                overflow: hidden;
                                align-items: center;
                                margin: 0 auto;

                                img {
                                    width: 100%;

                                }

                            }

                            figure:hover {
                                img {
                                    transform: scale(1.1);
                                    transition: 0.2s;
                                }
                            }

                            figure::after {
                                content: 'ICE';
                                position: absolute;
                                color: #fff;
                                background-color: #007eff;
                                border-radius: 25px;
                                padding: 5px 15px;
                                top: 80%;
                                right: 10%;

                            }

                            figcaption {
                                padding: 10px 0;

                                b {
                                    display: block;
                                    @include fon('Noto Sans KR', 400, 1.1rem);
                                }

                                b::after {
                                    content: '';
                                    width: 100%;
                                    border-bottom: 1px solid #c7c7c7;
                                    display: block;
                                    padding: 15px 0;
                                }

                                p {
                                    @include fon('Noto Sans KR', 300, 0.75rem);
                                    color: #979595;
                                    margin: 4% 0;
                                }
                            }

                        }
                    }
                }
            }

            .btn {
                display: flex;
                justify-content: center;
                margin-bottom: 10%;

                button {
                    margin: 0px 0.2%;
                    background-color: white;
                    border: 1px solid #d8d8d8;
                    border-radius: 10%;
                    width: 40px;
                    height: 40px;
                    @include fon('Noto Sans KR', 300, 0.9rem);
                }

                button:nth-of-type(1) {
                    width: 60px;
                }

                button:nth-of-type(6) {
                    width: 60px;
                }

                button:nth-of-type(7) {
                    width: 65px;
                }

                button:hover {
                    background-color: #f7f7f7;
                }
            }

        }








    }






    footer {
        width: 100%;
        background: #212121;

        .footer_wrap {
            display: none;
        }

        .footer_1 {

            nav {
                text-align: center;
                width: 100%;
                padding: 20px;

            }
        }

        .footer_box {
            width: 100%;

            .footer_text {
                width: 100%;
                margin: 0 auto;
                justify-content: center;

                .img_box {
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 25px;

                    .logo {
                        padding-right: 2%;
                    }

                    nav {
                        display: flex;
                        width: 15%;

                        div {
                            width: 50px;

                        }

                    }

                }

                div {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
        }
    }


}


@media(max-width:760px) {

    main {

        padding-top: 70px;

        .top {
            padding: 50px 0px;
            background-color: #3b3b3b;
            ;
            color: #fff;
            text-align: center;
            position: relative;

            h2 {
                @include fon('Noto Sans KR', 300, 1.5rem);
                ;
            }

            div {
                @include fon('Roboto', 900, 3em);
                color: #fdd000;
            }

            p {
                @include fon('Noto Sans KR', 300, 0.9rem);
                text-align: center;

                span {
                    display: inline-block;
                    vertical-align: middle;
                }
            }

        }


        .row {
            padding: 50px 0px;
            background-color: #fdd000;
            text-align: center;
            align-items: center;
            @include row;
            @include fon('Noto Sans KR', 600, 1.8em);

            p {
                @include fon('Noto Sans KR', 300, 0.9em);
                margin: 0px;
            }
        }

        .row::before {
            content: '';
            position: absolute;
            z-index: -1;
            width: 50px;
            height: 50px;
            background-color: #fdd000;
            border: 1px solid #fdd000;
            position: absolute;
            left: 50%;
            top: 22%;
            transform: translate(-50%, 180%) rotate(45deg);
            @include row0;
        }

        .midle {
            width: 100%;
            margin: 0 auto;
            padding: 50px 20px;

            .menu_infobox {
                padding: 0px;
                width: 100%;
                margin: 0 auto;
                display: flex;
                margin-bottom: 5%;
                flex-direction: column;
                align-items: flex-start;

                .left {
                    width: 100%;

                    .txt1 {
                        b {
                            @include fon('Noto Sans KR', 300, 1rem);
                        }

                        h2 {
                            @include fon('Noto Sans KR', 700, 2.5rem);
                            margin: 1.5% 0px;
                            margin-bottom: 5%
                        }

                        p {
                            @include fon('Noto Sans KR', 400, 0.95rem);
                            margin: 1.5% 0px;
                        }

                        padding-right: 10%;
                    }

                    .txt1::after {
                        content: '';
                        display: block;
                        border-bottom: 1px solid #e4e4e4;
                        width: 100%;
                    }

                    .txt2 {
                        p {
                            margin-bottom: 5%;
                            @include fon('Noto Sans KR', 300, 0.8rem);
                            color: #525252;

                            br:nth-of-type(2) {
                                display: none;
                            }
                        }
                    }
                }

                .rihgt {
                    width: 100%;

                    img {
                        max-width: 100%;
                    }
                }

            }

            .menu {
                width: 100%;

                .menu_txt {
                    display: block;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    b {
                        @include fon('Noto Sans KR', 300, 1rem);
                    }

                    h2 {
                        @include fon('Roboto', 900, 2em);
                        margin: 2%;
                    }

                    p {
                        @include fon('Noto Sans KR', 300, 0.7rem);
                        color: #aaa;
                    }
                }

                .menu_ul {
                    width: 100%;
                    margin: 0 auto;

                    .menu_img {
                        width: 100%;
                        display: flex;
                       

                        flex-wrap: wrap;
                        li {
                            width: 48%;
                            margin: 5px;
                            margin-bottom: 5%;
                            overflow: hidden;

                            figure {
                                position: relative;
                                width: 100%;
                                overflow: hidden;
                                align-items: center;
                                margin: 0 auto;

                                img {
                                    width: 100%;

                                }

                            }

                            figure:hover {
                                img {
                                    transform: scale(1.1);
                                    transition: 0.2s;
                                }
                            }

                            figure::after {
                                content: 'ICE';
                                position: absolute;
                                color: #fff;
                                background-color: #007eff;
                                border-radius: 25px;
                                padding: 0px 5px;
                                top: 90%;
                                right: 0%;
                                font-size: 13px;

                            }

                            figcaption {
                                padding: 10px 0;

                                b {
                                    display: block;
                                    @include fon('Noto Sans KR', 400, 0.9rem);
                                }

                                b::after {
                                    content: '';
                                    width: 100%;
                                    border-bottom: 1px solid #c7c7c7;
                                    display: block;
                                    padding: 15px 0;
                                }

                                p {
                                    @include fon('Noto Sans KR', 300, 0.75rem);
                                    color: #979595;
                                    margin: 2% 0;
                                }
                            }

                        }
                    }
                }
            }

            .btn {
                display: flex;
                justify-content: center;
                margin-bottom: 10%;

                button {
                    margin: 0px 0.2%;
                    background-color: white;
                    border: 1px solid #d8d8d8;
                    border-radius: 10%;
                    width: 40px;
                    height: 40px;
                    @include fon('Noto Sans KR', 300, 0.9rem);
                }

                button:nth-of-type(1) {
                    width: 60px;
                }

                button:nth-of-type(6) {
                    width: 60px;
                }

                button:nth-of-type(7) {
                    width: 65px;
                }

                button:hover {
                    background-color: #f7f7f7;
                }
            }

        }


    }







    footer {
        width: 100%;
        background: #212121;

        .footer_wrap {
            display: none;
        }

        .footer_1 {

            nav {
                text-align: center;
                width: 100%;
                padding: 20px;
                @include fon('Noto Sans KR', 600, 0.8rem);

            }
        }

        .footer_box {
            width: 100%;
            padding: 30px;

            .footer_text {
                width: 100%;
                margin: 0 auto;
                justify-content: center;

                div {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;

                    b {
                        span {
                            @include fon('Noto Sans KR', 500, 0.8rem);
                        }
                    }

                    span {
                        @include fon('Noto Sans KR', 400, 0.5rem);
                    }

                    p {
                        @include fon('Noto Sans KR', 400, 0.5rem);
                    }
                }

                .img_box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 25px;

                    .logo {
                        padding-right: 2%;
                    }

                    nav {
                        display: flex;
                        width: 15%;
                        margin-top: 4%;
                        justify-content: center;

                        div {
                            width: 50px;

                        }

                    }

                }

                div {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
        }
    }




}