@import "./_reset";
@import "./_commonheader";

@media(max-width:1280px) {



    main {

        padding-top: 100px;

        .top {
            padding: 50px 0px;
            background-color: #3b3b3b;
            ;
            color: #fff;
            text-align: center;
            position: relative;

            h2 {
                @include fon('Noto Sans KR', 300, 1.2rem);
                ;
            }

            div {
                @include fon('Roboto', 900, 3em);
                color: #fdd000;
            }

            p {
                @include fon('Noto Sans KR', 300, 0.8rem);
                text-align: center;

                span {
                    display: inline-block;
                    vertical-align: middle;
                }
            }

        }

        .map {
            background-image: url(../img-sub/map.PNG);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 60vh;
            position: relative;
    
            .search {
                position: absolute;
                left: 0;
                top: 0;
                width: 300px;
                align-items: center;
                transform: translateY(5%)translateX(0px);
                background-color: white;
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    
                .btn {
                    margin: 0;
                    display: flex;
    
                    button {
                        width: 100%;
                        padding: 5% 0;
                        background-color: #fdd000;
                        border: 1px solid #a3a3a3;
                        border-width: 1px 0px;
                        @include fon('Noto Sans KR', 300, 0.9rem);
                    }
    
                    button:nth-of-type(2) {
                        background-color: #1c1c1b;
                        color: white;
                    }
                }
    
                .search_bar {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: #fdd000;
                    padding-bottom: 5%;
    
                    h3 {
                        @include fon('Noto Sans KR', 400, 1.1rem);
                        margin: 5% 0;
                    }
    
                    p {
                        margin: 0;
                        margin-bottom: 5%;
                        @include fon('Noto Sans KR', 300, 0.8rem);
                    }
    
                    div {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        position: relative;
    
                        input {
                            width: 90%;
                            padding: 5% 10%;
                            border: none;
                            border-radius: 7px;
    
                        }
    
                    }
    
                    div::after {
                        content: 'search';
                        position: absolute;
                        left: 85%;
                        top: 20%;
                        width: 30px;
                        height: 30px;
                        font-family: 'material symbols outlined';
                        z-index: 2;
    
                        .material-symbols-outlined {
                            font-variation-settings:
                                'FILL' 0,
                                'wght' 400,
                                'GRAD' 0,
                                'opsz' 48
                        }
    
    
                    }
    
    
                }
    
    
            }
    
            .result {
                padding-bottom: 70%;
                text-align: center;
    
                p {
                    @include fon('Noto Sans KR', 300, 0.9rem);
                }
            }
    
        }

    }





    footer {
        width: 100%;
        background: #212121;

        .footer_wrap {
            display: none;
        }

        .footer_1 {

            nav {
                text-align: center;
                width: 100%;
                padding: 20px;
                font-size: 0.9em;

            }
        }

        .footer_box {
            width: 100%;

            .footer_text {
                width: 100%;
                margin: 0 auto;
                justify-content: center;

                .img_box {
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 25px;

                    .logo {
                        padding-right: 2%;
                    }

                    nav {
                        display: flex;
                        width: 15%;

                        div {
                            width: 50px;

                        }

                    }

                }

                div {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
        }
    }




}



@media(max-width:760px){



       main {

        padding-top: 100px;

        .top {
            padding: 50px 0px;
            background-color: #3b3b3b;
            ;
            color: #fff;
            text-align: center;
            position: relative;

            h2 {
                @include fon('Noto Sans KR', 300, 1.2rem);
                ;
            }

            div {
                @include fon('Roboto', 900, 3em);
                color: #fdd000;
            }

            p {
                @include fon('Noto Sans KR', 300, 0.8rem);
                text-align: center;

                span {
                    display: inline-block;
                    vertical-align: middle;
                }
            }

        }

        .map {
            background-image: url(../img-sub/map.PNG);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 60vh;
            position: relative;
    
            .search {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                align-items: center;
                transform: translateY(0%)translateX(0px);
                background-color: white;
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    
                .btn {
                    margin: 0;
                    display: flex;
    
                    button {
                        width: 100%;
                        padding: 1.5% 0;
                        background-color: white;
                        border: none;
                        border-width: 1px 0px;
                        @include fon('Noto Sans KR', 300, 0.9rem);
                    }
    
                    button:nth-of-type(2) {
                        background-color: #1c1c1b;
                        color: white;
                    }
                }
    
                .search_bar {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: white;
                    padding-bottom: 5%;
                    padding: 20px;
                    border: 1px solid #d8d8d8;
                    border-width: 0 0 1px 0;
    
                    h3 {
                        @include fon('Noto Sans KR', 400, 1.5rem);
                        margin: 2% 0;
                    }
    
                    p {
                        margin: 0;
                        margin-bottom: 3%;
                        @include fon('Noto Sans KR', 300, 0.8rem);
                    }
    
                    div {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        position: relative;
    
                        input {
                            width: 100%;
                            padding: 1.5% 1%;
                            border: none;
                            border-radius:5px;
                            border: 1px solid #a3a3a3;
    
                        }
    
                    }
    
                    div::after {
                        content: 'search';
                        position: absolute;
                        left: 95%;
                        top: 20%;
                        width: 30px;
                        height: 30px;
                        font-family: 'material symbols outlined';
                        z-index: 2;
    
                        .material-symbols-outlined {
                            font-variation-settings:
                                'FILL' 0,
                                'wght' 400,
                                'GRAD' 0,
                                'opsz' 48
                        }
    
    
                    }
    
    
                }
    
    
            }
    
            .result {
                padding-bottom: 3%;
                text-align: center;
            
    
                p {
                    padding-top: 20px;
                    margin: 0;
                    @include fon('Noto Sans KR', 300, 0.8rem);
                }
            }
    
        }

    }




    footer {
        width: 100%;
        background: #212121;

        .footer_wrap {
            display: none;
        }

        .footer_1 {

            nav {
                text-align: center;
                width: 100%;
                padding: 20px;
                @include fon('Noto Sans KR', 600, 0.8rem);

            }
        }

        .footer_box {
            width: 100%;
            padding: 30px;

            .footer_text {
                width: 100%;
                margin: 0 auto;
                justify-content: center;

                div {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;

                    b {
                        span {
                            @include fon('Noto Sans KR', 500, 0.8rem);
                        }
                    }

                    span {
                        @include fon('Noto Sans KR', 400, 0.5rem);
                    }

                    p {
                        @include fon('Noto Sans KR', 400, 0.5rem);
                    }
                }

                .img_box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 25px;

                    .logo {
                        padding-right: 2%;
                    }

                    nav {
                        display: flex;
                        width: 15%;
                        margin-top: 4%;
                        justify-content: center;

                        div {
                            width: 50px;

                        }

                    }

                }

                div {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
        }
    }




}