@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
  box-sizing: border-box;
}

li {
  margin: 0;
}

a, ul {
  text-decoration: none;
  list-style-type: none;
}

ul {
  padding: 0;
}

::-moz-selection {
  background: #fdd000;
  color: #1c1c1b;
}

::selection {
  background: #fdd000;
  color: #1c1c1b;
}

*, ::after, ::before {
  box-sizing: border-box;
}

header:hover {
  background-color: #ffffff;
  transition: 0.5s;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  position: fixed;
  left: 0%;
  top: 0;
  z-index: 10;
}
header .hdbg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
header .hdbg .head {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
header .hdbg .head .head_logo {
  width: 20%;
  padding-top: 30px;
}
header .hdbg .head .head_logo a img {
  width: 200px;
}
header .hdbg .head .menu_wrap {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
header .hdbg .head .menu_wrap > li {
  width: 20%;
  text-align: center;
  padding: 40px 0;
}
header .hdbg .head .menu_wrap > li a {
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-size: 1.1em;
  color: #1c1c1b;
}
header .hdbg .head .menu_wrap > li > a::after {
  content: "";
  display: block;
  border-bottom: 1px solid black;
  padding-top: 20px;
  width: 0px;
  margin: 0 auto;
}
header .hdbg .head .menu_wrap > li div {
  padding-top: 20px;
  margin-top: 0;
  padding-bottom: 20px;
  margin-bottom: 0;
}
header .hdbg .head .menu_wrap > li div ul {
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-size: 0.9em;
  margin-top: 10%;
}
header .hdbg .head .menu_wrap > li div ul li {
  width: 100%;
  padding: 2% 0% 2%;
}
header .hdbg .head .menu_wrap > li div ul li:nth-of-type(1) {
  margin-top: 5%;
}
header .hdbg .head .menu_wrap li:hover > a::after {
  width: 25%;
  left: 0%;
  transition: 0.2s;
}
header .hdbg .head li:hover {
  background-color: #fdd000;
}
header .hdbg .head .sns {
  width: 20%;
  padding-top: 30px;
}
header .hdbg .head .sns nav {
  width: 100%;
  display: flex;
}
header .hdbg .head .sns nav a {
  width: 100%;
  border: 2px solid black;
  border-radius: 100%;
  padding: 7px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
header .hdbg .head .sns nav a:hover {
  background-color: #fdd000;
  border-color: #fdd000;
}
header .hdbg .head .sns .burger_bg {
  display: none;
}
header .wrap {
  position: fixed;
  right: 30px;
  top: 30%;
}
header .wrap li {
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: black;
  border-radius: 100%;
  text-align: center;
  margin-top: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}
header .wrap li div a {
  color: white;
}
header .wrap li div a p {
  margin: 0px;
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-size: 14px;
}
header .wrap li div a b {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
header .wrap li:hover {
  background-color: #fdd000;
  border-color: #fdd000;
}
header .wrap li:hover a {
  color: #1c1c1b;
}

main {
  padding-top: 120px;
}
main .top {
  padding: 120px 0px;
  background-color: #444;
  color: #fff;
  text-align: center;
}
main .top h2 {
  font-family: "Noto Sans KR";
  font-weight: 300;
  font-size: 24px;
}
main .top div {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 3em;
  color: #fdd000;
}
main .top p {
  font-family: "Noto Sans KR";
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}
main .top p span {
  display: inline-block;
  vertical-align: middle;
}
main .map {
  background-image: url(../img-sub/map.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60vh;
  position: relative;
}
main .map .search {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  align-items: center;
  transform: translateY(10%) translateX(50px);
  background-color: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}
main .map .search .btn {
  margin: 0;
  display: flex;
}
main .map .search .btn button {
  width: 100%;
  padding: 5% 0;
  background-color: #fdd000;
  border: 1px solid #a3a3a3;
  border-width: 1px 0px;
  font-family: "Noto Sans KR";
  font-weight: 300;
  font-size: 1.1rem;
}
main .map .search .btn button:nth-of-type(2) {
  background-color: #1c1c1b;
  color: white;
}
main .map .search .search_bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdd000;
  padding-bottom: 5%;
}
main .map .search .search_bar h3 {
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-size: 1.5rem;
  margin: 5% 0;
}
main .map .search .search_bar p {
  margin: 0;
  margin-bottom: 5%;
  font-family: "Noto Sans KR";
  font-weight: 300;
  font-size: 1rem;
}
main .map .search .search_bar div {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
main .map .search .search_bar div input {
  width: 90%;
  padding: 5% 10%;
  border: none;
  border-radius: 7px;
}
main .map .search .search_bar div::after {
  content: "search";
  position: absolute;
  left: 85%;
  top: 20%;
  width: 30px;
  height: 30px;
  font-family: "material symbols outlined";
  z-index: 2;
}
main .map .search .search_bar div::after .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
main .map .result {
  padding-bottom: 70%;
  text-align: center;
}
main .map .result p {
  font-family: "Noto Sans KR";
  font-weight: 300;
  font-size: 1rem;
}

footer {
  background: #212121;
}
footer .footer_1 {
  background-color: #fdd000;
}
footer .footer_1 nav {
  width: 1280px;
  padding: 20px 100px;
  margin: 0 auto;
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 16px;
}
footer .footer_1 nav a:nth-of-type(2) {
  padding-left: 20px;
}
footer .footer_box {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  padding: 60px 20px;
  color: #aaa;
}
footer .footer_box .footer_text {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  margin-right: 10%;
}
footer .footer_box .footer_text div span {
  margin: 0px 10px 0px 0px;
  font-family: "Noto Sans KR";
  font-weight: 300;
  font-size: 14px;
}
footer .footer_box .footer_text div b span {
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}
footer .footer_box .footer_text div p {
  font-family: "Noto Sans KR";
  font-weight: 300;
  font-size: 14px;
  margin: 10px 0px;
}
footer .footer_box .footer_text .img_box {
  width: 100%;
  display: flex;
  justify-content: flax-start;
  align-items: center;
  margin-bottom: 15px;
}
footer .footer_box .footer_text .img_box .logo {
  width: 180px;
  height: 36px;
  padding-right: 5%;
}
footer .footer_box .footer_text .img_box nav {
  display: flex;
  width: 60%;
}
footer .footer_box .footer_text .img_box nav div {
  width: 13%;
  display: flex;
  border-radius: 100%;
  background-color: #fff;
  margin-right: 10px;
}
footer .footer_box .footer_text .img_box nav div a {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px;
}
footer .footer_box .footer_text .img_box nav div:hover {
  background-color: #fdd000;
}
footer .footer_wrap {
  width: 50%;
  display: flex;
  color: #fff;
}
footer .footer_wrap li {
  width: 100%;
  margin: 10px 0px;
  margin-right: 20px;
}
footer .footer_wrap li b {
  font-family: "Noto Sans KR";
  font-weight: 300;
  font-size: 18px;
}
footer .footer_wrap li div a {
  display: block;
  color: #bdbdbd;
  padding-top: 10%;
  font-family: "Noto Sans KR";
  font-weight: 300;
  font-size: 0.8rem;
}

body {
  margin: 0;
  box-sizing: border-box;
}

li {
  margin: 0;
}

a, ul {
  text-decoration: none;
  list-style-type: none;
}

ul {
  padding: 0;
}

::-moz-selection {
  background: #fdd000;
  color: #1c1c1b;
}

::selection {
  background: #fdd000;
  color: #1c1c1b;
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  box-sizing: border-box;
}

li {
  margin: 0;
}

a, ul {
  text-decoration: none;
  list-style-type: none;
}

ul {
  padding: 0;
}

::-moz-selection {
  background: #fdd000;
  color: #1c1c1b;
}

::selection {
  background: #fdd000;
  color: #1c1c1b;
}

*, ::after, ::before {
  box-sizing: border-box;
}

@media (min-width: 1280px) {
  .media_menu {
    display: none;
  }
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  position: fixed;
  left: 0%;
  top: 0;
  z-index: 20;
  transition: 0.5s;
}
header .hdbg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: 0.5s;
}
header .hdbg .head {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
header .hdbg .head .head_logo {
  width: 20%;
  padding-top: 30px;
}
header .hdbg .head .head_logo a img {
  width: 200px;
}
header .hdbg .head .menu_wrap {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
header .hdbg .head .menu_wrap > li {
  width: 20%;
  text-align: center;
  padding: 40px 0px 20px;
}
header .hdbg .head .menu_wrap > li a {
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-size: 1.1em;
  color: #1c1c1b;
}
header .hdbg .head .menu_wrap > li > a::after {
  content: "";
  display: block;
  border-bottom: 1px solid black;
  padding-top: 20px;
  width: 0px;
  margin: 0 auto;
}
header .hdbg .head .menu_wrap > li div {
  margin-top: 0;
  padding-bottom: 20px;
  margin-bottom: 0;
  display: none;
}
header .hdbg .head .menu_wrap > li div ul {
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-size: 0.9em;
  margin-top: 10%;
}
header .hdbg .head .menu_wrap > li div ul li {
  width: 100%;
  padding: 2% 0% 2%;
}
header .hdbg .head .menu_wrap > li div ul li:nth-of-type(1) {
  margin-top: 5%;
}
header .hdbg .head .menu_wrap li:hover > a::after {
  width: 25%;
  left: 0%;
  transition: 0.2s;
}
header .hdbg .head .menu_wrap div {
  display: block;
}
header .hdbg .head li:hover {
  background-color: #fdd000;
}
header .hdbg .head .sns {
  width: 20%;
  padding-top: 30px;
  display: flex;
}
header .hdbg .head .sns nav {
  width: 100%;
  display: flex;
}
header .hdbg .head .sns nav a {
  width: 100%;
  border: 2px solid black;
  border-radius: 100%;
  padding: 7px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
header .hdbg .head .sns nav a:hover {
  background-color: #fdd000;
  border-color: #fdd000;
}
header .hdbg .head .sns .burger_bg {
  display: none;
}
header .wrap {
  position: fixed;
  right: 30px;
  top: 30%;
  z-index: 10;
}
header .wrap li {
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: black;
  border-radius: 100%;
  text-align: center;
  margin-top: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}
header .wrap li div a {
  color: white;
}
header .wrap li div a p {
  margin: 0px;
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-size: 14px;
}
header .wrap li div a b {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
header .wrap li:hover {
  background-color: #fdd000;
  border-color: #fdd000;
}
header .wrap li:hover a {
  color: #1c1c1b;
}

header.active {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  position: fixed;
  left: 0%;
  top: 0;
  z-index: 10;
  transition: 0.5s;
}
header.active .hdbg {
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
header.active .hdbg .head {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
header.active .hdbg .head .head_logo {
  width: 20%;
  padding-top: 30px;
}
header.active .hdbg .head .head_logo a img {
  width: 200px;
}
header.active .hdbg .head .menu_wrap {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
header.active .hdbg .head .menu_wrap > li {
  width: 20%;
  text-align: center;
  padding: 40px 0px 20px;
}
header.active .hdbg .head .menu_wrap > li a {
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-size: 1.1em;
  color: #1c1c1b;
}
header.active .hdbg .head .menu_wrap > li > a::after {
  content: "";
  display: block;
  border-bottom: 1px solid black;
  padding-top: 20px;
  width: 0px;
  margin: 0 auto;
}
header.active .hdbg .head .menu_wrap > li div {
  padding-top: 20px;
  margin-top: 0;
  padding-bottom: 20px;
  margin-bottom: 0;
  display: none;
}
header.active .hdbg .head .menu_wrap > li div ul {
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-size: 0.9em;
  margin-top: 10%;
}
header.active .hdbg .head .menu_wrap > li div ul li {
  width: 100%;
  padding: 2% 0% 2%;
}
header.active .hdbg .head .menu_wrap > li div ul li:nth-of-type(1) {
  margin-top: 5%;
}
header.active .hdbg .head .menu_wrap li:hover > a::after {
  width: 25%;
  left: 0%;
  transition: 0.2s;
}
header.active .hdbg .head .menu_wrap div {
  display: block;
}
header.active .hdbg .head li:hover {
  background-color: #fdd000;
}
header.active .hdbg .head .sns {
  width: 20%;
  padding-top: 30px;
  display: flex;
}
header.active .hdbg .head .sns nav {
  width: 100%;
  display: flex;
}
header.active .hdbg .head .sns nav a {
  width: 100%;
  border: 2px solid black;
  border-radius: 100%;
  padding: 7px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
header.active .hdbg .head .sns nav a:hover {
  background-color: #fdd000;
  border-color: #fdd000;
}
header.active .hdbg .head .sns .burger_bg {
  display: none;
}
header.active .wrap {
  position: fixed;
  right: 30px;
  top: 30%;
}
header.active .wrap li {
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: black;
  border-radius: 100%;
  text-align: center;
  margin-top: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}
header.active .wrap li div h2 {
  color: white;
}
header.active .wrap li div h2 p {
  margin: 0px;
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-size: 14px;
}
header.active .wrap li div h2 b {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
header.active .wrap li:hover {
  background-color: #fdd000;
  border-color: #fdd000;
}
header.active .wrap li:hover a {
  color: #1c1c1b;
}

@media (max-width: 1280px) {
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    position: fixed;
    left: 0%;
    top: 0;
    z-index: 10;
  }
  header .hdbg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  header .hdbg .head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 3%;
  }
  header .hdbg .head .head_logo {
    width: 30%;
    padding-top: 30px;
  }
  header .hdbg .head .head_logo a img {
    width: 200px;
  }
  header .hdbg .head .menu_wrap {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    display: none;
  }
  header .hdbg .head .menu_wrap > li {
    width: 20%;
    text-align: center;
    padding: 40px 0;
  }
  header .hdbg .head .menu_wrap > li a {
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-size: 1.1em;
    color: #1c1c1b;
  }
  header .hdbg .head .menu_wrap > li > a::after {
    content: "";
    display: block;
    border-bottom: 1px solid black;
    padding-top: 20px;
    width: 0px;
    margin: 0 auto;
  }
  header .hdbg .head .menu_wrap > li div {
    padding-top: 20px;
    margin-top: 0;
    padding-bottom: 20px;
    margin-bottom: 0;
  }
  header .hdbg .head .menu_wrap > li div ul {
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 0.9em;
    margin-top: 10%;
  }
  header .hdbg .head .menu_wrap > li div ul li {
    width: 100%;
    padding: 2% 0% 2%;
  }
  header .hdbg .head .menu_wrap > li div ul li:nth-of-type(1) {
    margin-top: 5%;
  }
  header .hdbg .head .menu_wrap li:hover > a::after {
    width: 25%;
    left: 0%;
    transition: 0.2s;
  }
  header .hdbg .head li:hover {
    background-color: #fdd000;
  }
  header .hdbg .head .sns {
    width: 30%;
    padding-top: 25px;
    display: flex;
  }
  header .hdbg .head .sns nav {
    width: 85%;
    display: flex;
    justify-content: flex-end;
  }
  header .hdbg .head .sns nav a {
    width: 50px;
    border: 2px solid black;
    border-radius: 100%;
    padding: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  header .hdbg .head .sns nav a:hover {
    background-color: #fdd000;
    border-color: #fdd000;
  }
  header .hdbg .head .sns .burger_bg {
    position: absolute;
    left: 88%;
    top: 53%;
    z-index: 10;
    display: block;
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: center;
  }
  header .hdbg .head .sns .burger_bg .line {
    margin-top: 0px;
    width: 25px;
    height: 15px;
    position: relative;
  }
  header .hdbg .head .sns .burger_bg .line span {
    width: 100%;
    border: 1px solid black;
    position: absolute;
    left: 0;
    transition: 0.5s;
  }
  header .hdbg .head .sns .burger_bg .line span:nth-child(1) {
    top: 0;
  }
  header .hdbg .head .sns .burger_bg .line span:nth-child(2) {
    top: calc(50% - 1px);
  }
  header .hdbg .head .sns .burger_bg .line span:nth-child(3) {
    top: calc(100% - 2px);
  }
  header .hdbg .head .sns .burger_bg.burger_active .line span {
    top: calc(50% - 1px);
    border: 1px solid white;
  }
  header .hdbg .head .sns .burger_bg.burger_active .line span:nth-child(1) {
    transform: rotate(45deg);
  }
  header .hdbg .head .sns .burger_bg.burger_active .line span:nth-child(2) {
    opacity: 0;
  }
  header .hdbg .head .sns .burger_bg.burger_active .line span:nth-child(3) {
    transform: rotate(-45deg);
  }
  header .wrap {
    position: fixed;
    right: 30px;
    top: 30%;
    display: none;
  }
  header .wrap li {
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: black;
    border-radius: 100%;
    text-align: center;
    margin-top: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  }
  header .wrap li div a {
    color: white;
  }
  header .wrap li div a p {
    margin: 0px;
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-size: 14px;
  }
  header .wrap li div a b {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
  }
  header .wrap li:hover {
    background-color: #fdd000;
    border-color: #fdd000;
  }
  header .wrap li:hover a {
    color: #1c1c1b;
  }
  header .media_menu {
    transform: translateX(100%);
    transition: 1s;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #212121;
    color: #fdd000;
    display: flex;
    flex-direction: column;
  }
  header .media_menu figure {
    margin: 5% auto;
  }
  header .media_menu figure img {
    width: 100%;
    max-width: 200px;
  }
  header .media_menu .media_menu_wrap {
    display: flex;
    flex-direction: column;
    margin: 7%;
  }
  header .media_menu .media_menu_wrap li {
    width: 100%;
    display: flex;
    margin-bottom: 8%;
  }
  header .media_menu .media_menu_wrap li h2 {
    width: 20%;
    padding-right: 5%;
    color: #fff;
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 1.1rem;
    margin-top: 0;
  }
  header .media_menu .media_menu_wrap li div {
    width: 80%;
  }
  header .media_menu .media_menu_wrap li div ul {
    width: 100%;
  }
  header .media_menu .media_menu_wrap li div ul li {
    margin-bottom: 1%;
  }
  header .media_menu .media_menu_wrap li div ul li a {
    color: #a9a9a9;
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 0.9rem;
  }
  header .media_menu .media_menu_wrap hr {
    width: 100%;
    height: 0.3px;
    margin-bottom: 3%;
    border: 0px;
    border-bottom: 0.7px solid rgba(93, 93, 93, 0.4392156863);
  }
  header .media_menu.menuactive {
    transform: translateX(0%);
  }
}
@media (max-width: 760px) {
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    position: fixed;
    left: 0%;
    top: 0;
    z-index: 10;
  }
  header .hdbg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  header .hdbg .head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 3%;
  }
  header .hdbg .head .head_logo {
    width: 30%;
    padding-top: 10px;
  }
  header .hdbg .head .head_logo a img {
    width: 150px;
  }
  header .hdbg .head .menu_wrap {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    display: none;
  }
  header .hdbg .head .menu_wrap > li {
    width: 20%;
    text-align: center;
    padding: 40px 0;
  }
  header .hdbg .head .menu_wrap > li a {
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-size: 1.1em;
    color: #1c1c1b;
  }
  header .hdbg .head .menu_wrap > li > a::after {
    content: "";
    display: block;
    border-bottom: 1px solid black;
    padding-top: 20px;
    width: 0px;
    margin: 0 auto;
  }
  header .hdbg .head .menu_wrap > li div {
    padding-top: 20px;
    margin-top: 0;
    padding-bottom: 20px;
    margin-bottom: 0;
  }
  header .hdbg .head .menu_wrap > li div ul {
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 0.9em;
    margin-top: 10%;
  }
  header .hdbg .head .menu_wrap > li div ul li {
    width: 100%;
    padding: 2% 0% 2%;
  }
  header .hdbg .head .menu_wrap > li div ul li:nth-of-type(1) {
    margin-top: 5%;
  }
  header .hdbg .head .menu_wrap li:hover > a::after {
    width: 25%;
    left: 0%;
    transition: 0.2s;
  }
  header .hdbg .head li:hover {
    background-color: #fdd000;
  }
  header .hdbg .head .sns {
    width: 30%;
    padding-top: 25px;
    display: flex;
    justify-content: flex-end;
  }
  header .hdbg .head .sns nav {
    width: 85%;
    display: none;
    justify-content: flex-end;
  }
  header .hdbg .head .sns nav a {
    width: 50px;
    border: 2px solid black;
    border-radius: 100%;
    padding: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  header .hdbg .head .sns nav a:hover {
    background-color: #fdd000;
    border-color: #fdd000;
  }
  header .hdbg .head .sns .burger_bg {
    position: absolute;
    left: 85%;
    z-index: 10;
    top: 50%;
    display: block;
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: center;
  }
  header .hdbg .head .sns .burger_bg .line {
    margin-top: 0px;
    width: 25px;
    height: 15px;
    position: relative;
  }
  header .hdbg .head .sns .burger_bg .line span {
    width: 100%;
    border: 1px solid black;
    position: absolute;
    left: 0;
    transition: 0.5s;
  }
  header .hdbg .head .sns .burger_bg .line span:nth-child(1) {
    top: 0;
  }
  header .hdbg .head .sns .burger_bg .line span:nth-child(2) {
    top: calc(50% - 1px);
  }
  header .hdbg .head .sns .burger_bg .line span:nth-child(3) {
    top: calc(100% - 2px);
  }
  header .hdbg .head .sns .burger_bg.burger_active .line span {
    top: calc(50% - 1px);
    border: 1px solid white;
  }
  header .hdbg .head .sns .burger_bg.burger_active .line span:nth-child(1) {
    transform: translate rotate(45deg);
  }
  header .hdbg .head .sns .burger_bg.burger_active .line span:nth-child(2) {
    opacity: 0;
  }
  header .hdbg .head .sns .burger_bg.burger_active .line span:nth-child(3) {
    transform: translate rotate(-45deg);
  }
  header .wrap {
    position: fixed;
    right: 30px;
    top: 30%;
    display: none;
  }
  header .wrap li {
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: black;
    border-radius: 100%;
    text-align: center;
    margin-top: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  }
  header .wrap li div a {
    color: white;
  }
  header .wrap li div a p {
    margin: 0px;
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-size: 14px;
  }
  header .wrap li div a b {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
  }
  header .wrap li:hover {
    background-color: #fdd000;
    border-color: #fdd000;
  }
  header .wrap li:hover a {
    color: #1c1c1b;
  }
  header .media_menu {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 240px;
    height: 100vh;
    background-color: #212121;
    color: #fdd000;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  header .media_menu figure {
    padding: 20% 0px 10%;
    margin: 0% auto;
  }
  header .media_menu figure img {
    width: 100%;
    max-width: 190px;
  }
  header .media_menu .media_menu_wrap {
    display: flex;
    flex-direction: column;
    margin: 7%;
    margin-top: 10%;
  }
  header .media_menu .media_menu_wrap li {
    width: 100%;
    display: flex;
    margin-bottom: 8%;
    flex-direction: column;
  }
  header .media_menu .media_menu_wrap li h2 {
    width: 100%;
    padding-right: 5%;
    color: #fff;
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 0.9rem;
    position: relative;
  }
  header .media_menu .media_menu_wrap li > h2::after {
    position: absolute;
    top: 0;
    right: 0;
    content: "chevron_right";
    font-family: "material symbols outlined";
    display: inline-block;
    width: 20px;
    font-size: 20px;
    vertical-align: middle;
  }
  header .media_menu .media_menu_wrap li div {
    display: none;
    width: 100%;
  }
  header .media_menu .media_menu_wrap li div > ul {
    width: 100%;
    margin: 15%;
  }
  header .media_menu .media_menu_wrap li div > ul > li {
    margin-bottom: 1%;
  }
  header .media_menu .media_menu_wrap li div > ul > li > a {
    color: #a9a9a9;
    margin-bottom: 5%;
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 0.75rem;
  }
  header .media_menu .media_menu_wrap li div > ul > li a::after {
    content: "";
    display: none;
  }
  header .media_menu .media_menu_wrap li.active > h2 {
    color: #fdd000;
  }
  header .media_menu .media_menu_wrap li.active > h2::after {
    transform: rotate(90deg);
    color: white;
  }
  header .media_menu .media_menu_wrap hr {
    display: none;
  }
}
@media (max-width: 1280px) {
  main {
    padding-top: 100px;
  }
  main .top {
    padding: 50px 0px;
    background-color: #3b3b3b;
    color: #fff;
    text-align: center;
    position: relative;
  }
  main .top h2 {
    font-family: "Noto Sans KR";
    font-weight: 300;
    font-size: 1.2rem;
  }
  main .top div {
    font-family: "Roboto";
    font-weight: 900;
    font-size: 3em;
    color: #fdd000;
  }
  main .top p {
    font-family: "Noto Sans KR";
    font-weight: 300;
    font-size: 0.8rem;
    text-align: center;
  }
  main .top p span {
    display: inline-block;
    vertical-align: middle;
  }
  main .map {
    background-image: url(../img-sub/map.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
    position: relative;
  }
  main .map .search {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    align-items: center;
    transform: translateY(5%) translateX(0px);
    background-color: white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  }
  main .map .search .btn {
    margin: 0;
    display: flex;
  }
  main .map .search .btn button {
    width: 100%;
    padding: 5% 0;
    background-color: #fdd000;
    border: 1px solid #a3a3a3;
    border-width: 1px 0px;
    font-family: "Noto Sans KR";
    font-weight: 300;
    font-size: 0.9rem;
  }
  main .map .search .btn button:nth-of-type(2) {
    background-color: #1c1c1b;
    color: white;
  }
  main .map .search .search_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fdd000;
    padding-bottom: 5%;
  }
  main .map .search .search_bar h3 {
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 1.1rem;
    margin: 5% 0;
  }
  main .map .search .search_bar p {
    margin: 0;
    margin-bottom: 5%;
    font-family: "Noto Sans KR";
    font-weight: 300;
    font-size: 0.8rem;
  }
  main .map .search .search_bar div {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  main .map .search .search_bar div input {
    width: 90%;
    padding: 5% 10%;
    border: none;
    border-radius: 7px;
  }
  main .map .search .search_bar div::after {
    content: "search";
    position: absolute;
    left: 85%;
    top: 20%;
    width: 30px;
    height: 30px;
    font-family: "material symbols outlined";
    z-index: 2;
  }
  main .map .search .search_bar div::after .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }
  main .map .result {
    padding-bottom: 70%;
    text-align: center;
  }
  main .map .result p {
    font-family: "Noto Sans KR";
    font-weight: 300;
    font-size: 0.9rem;
  }
  footer {
    width: 100%;
    background: #212121;
  }
  footer .footer_wrap {
    display: none;
  }
  footer .footer_1 nav {
    text-align: center;
    width: 100%;
    padding: 20px;
    font-size: 0.9em;
  }
  footer .footer_box {
    width: 100%;
  }
  footer .footer_box .footer_text {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }
  footer .footer_box .footer_text .img_box {
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }
  footer .footer_box .footer_text .img_box .logo {
    padding-right: 2%;
  }
  footer .footer_box .footer_text .img_box nav {
    display: flex;
    width: 15%;
  }
  footer .footer_box .footer_text .img_box nav div {
    width: 50px;
  }
  footer .footer_box .footer_text div {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 760px) {
  main {
    padding-top: 100px;
  }
  main .top {
    padding: 50px 0px;
    background-color: #3b3b3b;
    color: #fff;
    text-align: center;
    position: relative;
  }
  main .top h2 {
    font-family: "Noto Sans KR";
    font-weight: 300;
    font-size: 1.2rem;
  }
  main .top div {
    font-family: "Roboto";
    font-weight: 900;
    font-size: 3em;
    color: #fdd000;
  }
  main .top p {
    font-family: "Noto Sans KR";
    font-weight: 300;
    font-size: 0.8rem;
    text-align: center;
  }
  main .top p span {
    display: inline-block;
    vertical-align: middle;
  }
  main .map {
    background-image: url(../img-sub/map.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
    position: relative;
  }
  main .map .search {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    transform: translateY(0%) translateX(0px);
    background-color: white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  }
  main .map .search .btn {
    margin: 0;
    display: flex;
  }
  main .map .search .btn button {
    width: 100%;
    padding: 1.5% 0;
    background-color: white;
    border: none;
    border-width: 1px 0px;
    font-family: "Noto Sans KR";
    font-weight: 300;
    font-size: 0.9rem;
  }
  main .map .search .btn button:nth-of-type(2) {
    background-color: #1c1c1b;
    color: white;
  }
  main .map .search .search_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-bottom: 5%;
    padding: 20px;
    border: 1px solid #d8d8d8;
    border-width: 0 0 1px 0;
  }
  main .map .search .search_bar h3 {
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 1.5rem;
    margin: 2% 0;
  }
  main .map .search .search_bar p {
    margin: 0;
    margin-bottom: 3%;
    font-family: "Noto Sans KR";
    font-weight: 300;
    font-size: 0.8rem;
  }
  main .map .search .search_bar div {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  main .map .search .search_bar div input {
    width: 100%;
    padding: 1.5% 1%;
    border: none;
    border-radius: 5px;
    border: 1px solid #a3a3a3;
  }
  main .map .search .search_bar div::after {
    content: "search";
    position: absolute;
    left: 95%;
    top: 20%;
    width: 30px;
    height: 30px;
    font-family: "material symbols outlined";
    z-index: 2;
  }
  main .map .search .search_bar div::after .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }
  main .map .result {
    padding-bottom: 3%;
    text-align: center;
  }
  main .map .result p {
    padding-top: 20px;
    margin: 0;
    font-family: "Noto Sans KR";
    font-weight: 300;
    font-size: 0.8rem;
  }
  footer {
    width: 100%;
    background: #212121;
  }
  footer .footer_wrap {
    display: none;
  }
  footer .footer_1 nav {
    text-align: center;
    width: 100%;
    padding: 20px;
    font-family: "Noto Sans KR";
    font-weight: 600;
    font-size: 0.8rem;
  }
  footer .footer_box {
    width: 100%;
    padding: 30px;
  }
  footer .footer_box .footer_text {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }
  footer .footer_box .footer_text div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  footer .footer_box .footer_text div b span {
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-size: 0.8rem;
  }
  footer .footer_box .footer_text div span {
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 0.5rem;
  }
  footer .footer_box .footer_text div p {
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 0.5rem;
  }
  footer .footer_box .footer_text .img_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }
  footer .footer_box .footer_text .img_box .logo {
    padding-right: 2%;
  }
  footer .footer_box .footer_text .img_box nav {
    display: flex;
    width: 15%;
    margin-top: 4%;
  }
  footer .footer_box .footer_text .img_box nav div {
    width: 50px;
  }
  footer .footer_box .footer_text div {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}/*# sourceMappingURL=search.css.map */